Magic 271485
Revision Verdi3_J-2014.12-SP3

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 2114 50 1396 924 185 167

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/yutongshen/HW6/pre_sim1.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 41539.608641 54756.411794
cursor 49500.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 14
; marker line index
markerPos 50

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/yutongshen/HW6/pre_sim1.fsdb"
addSignal -h 15 /testfixture1/DUT/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope data_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope data[15:0]
addSignal -h 15 -holdScope fir_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope fir_d[15:0]
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /testfixture1/DUT/fir/cnt[4:0]
addGroup "G3"
addGroup "G4"
addSignal -h 15 -UNSIGNED -HEX /testfixture1/DUT/fir/fir_d[15:0]
addGroup "G5"
addSignal -h 15 /testfixture1/DUT/fft/r_data1[0:8]
addSignal -expanded -h 15 -holdScope r_data2[0:12]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[0][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[1][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[2][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[3][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[4][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[5][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[6][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[7][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[8][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[9][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[10][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[11][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data2[12][31:0]
addSignal -expanded -h 15 -holdScope r_data3[0:6]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data3[0][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data3[1][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data3[2][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data3[3][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data3[4][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data3[5][31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope r_data3[6][31:0]
addSignal -h 15 -holdScope r_data4[0:3]
addSignal -h 15 -holdScope r_data5[0:15]
addSignal -h 15 -holdScope fft_valid
addSignal -h 15 -holdScope r_w1[0:7]
addSignal -h 15 -holdScope r_w2[0:3]
addSignal -h 15 -holdScope r_w3[0:1]
addSignal -h 15 -UNSIGNED -HEX /testfixture1/DUT/fft/pe1/w_real[17:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope w_imag[17:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope X[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope Y[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope fft_a[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope fft_b[31:0]
addSignal -h 15 /testfixture1/DUT/fft/flag1
addSignal -h 15 -holdScope flag2
addSignal -h 15 -holdScope flag3
addSignal -h 15 -holdScope flag4
addSignal -h 15 -UNSIGNED -HEX -holdScope cnt[4:0]
addGroup "G6"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/yutongshen/HW6/pre_sim1.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm open

"/testfixture1"
"/testfixture1/DUT"
"/testfixture1/DUT/fft"
"/testfixture1/DUT/fft/pe1"
"/testfixture1/DUT/fir"

SCOPE_LIST_BEGIN
"/testfixture1"
"/testfixture1/DUT"
"/testfixture1/DUT/fir"
"/testfixture1/DUT/fft"
"/testfixture1/DUT/fft/pe1"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


